streamlit==1.35.0
streamlit-option-menu==0.3.6
scikit-learn==1.4.2
matplotlib==3.8.4
inference==0.9.1
Pillow==10.3.0
google-generativeai==0.8.5
opencv-python-headless==4.8.0.76
ultralytics==8.3.146
torch==2.6.0
torchvision==0.21.0
tensorflow
